
@charset "utf-8";
.lof-slidecontent {
    left: -1px;
    overflow: hidden;
    position: absolute;
    top: -11px;
    z-index: 1;
}
.lof-slidecontent .preload {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100000;
}
.lof-slidecontent .preload div {
    background: url("../images/load-indicator.gif") no-repeat scroll 50% 50% transparent;
    height: 100%;
    width: 100%;
}
.lof-slidecontent .sliders-wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 238, 0.6);
    border-right: 2px solid;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 725px;
    z-index: 100;
}
.lof-slidecontent ul.sliders-wrap-inner {
    background: url("../images/load-indicator.gif") no-repeat scroll 50% 50% transparent;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.lof-slidecontent ul.sliders-wrap-inner li {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.lof-slidecontent .lof-opacity li {
    float: inherit;
    left: 0;
    position: absolute;
    top: 0;
}
.lof-slidecontent .navigator-content {
    color: #FFFFFF;
    height: 300px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 310px;
    z-index: 9;
}
.lof-slidecontent .navigator-wrapper {
    color: #FFFFFF;
    float: left;
    height: 180px;
    overflow: hidden;
    position: relative;
    width: 310px;
    z-index: 10;
}
.lof-slidecontent ul.navigator-wrap-inner {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.lof-slidecontent ul.navigator-wrap-inner li {
    cursor: pointer;
    display: block;
    float: left;
    list-style: none outside none;
    margin-left: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
ul.sliders-wrap-inner li img {
    padding: 0;
}
.lof-slidecontent .slider-description a.readmore {
    color: #58B1EA;
    font-size: 95%;
}
.lof-slidecontent .slider-description a {
    color: #FFFFFF;
}
.lof-slidecontent .slider-description {
    background: url("../images/bg_trans.png") repeat scroll 0 0 transparent;
    bottom: 66px;
    color: #FFFFFF;
    height: 100px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 350px;
}
.lof-slidecontent .slider-description h4 {
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
}
.lof-slidecontent .slider-description .slider-meta a {
    background: none repeat scroll 0 0 #C01F25;
    font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
    font-size: 75%;
    margin: 0;
    padding: 2px 3px;
    text-decoration: none;
    text-transform: uppercase;
}
.lof-slidecontent .item-meta a:hover {
    text-decoration: underline;
}
.lof-slidecontent .item-meta i {
    font-size: 70%;
}
.lof-slidecontent ul.navigator-wrap-inner li.active {
    color: #FFFFFF;
}
.lof-slidecontent ul.navigator-wrap-inner li > div {
    background: url("../images/slide_bg.jpg") repeat scroll 0 0 transparent;
    border-top: 1px solid #E1E1E1;
    color: #FFFFFF;
    height: 100%;
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
    text-align: left;
}
.lof-slidecontent ul.navigator-wrap-inner li.active div {
    background: url("../images/hslide_bg.JPG") repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.lof-slidecontent ul.navigator-wrap-inner li img {
    border: 1px solid #C5C5C5;
    float: left;
    height: 60px;
    margin: 15px 15px 10px 0;
    padding: 3px;
    width: 60px;
}
.lof-slidecontent ul.navigator-wrap-inner li.active img, .lof-slidecontent ul.navigator-wrap-inner li:hover img {
}
.lof-slidecontent .button-next, .lof-slidecontent .button-previous {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    text-indent: -999px;
    top: 0;
    width: 40px;
    z-index: 40;
}
.lof-slidecontent .button-next {
    background: url("../images/next.png") no-repeat scroll right center transparent;
    right: 0;
}
.lof-slidecontent .button-previous {
    background: url("../images/previous.png") no-repeat scroll left center transparent;
    left: 0;
}
.lof-slidecontent .button-control {
    background: url("../images/transparent_bg.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 48%;
    top: 10px;
    width: 20px;
}
.lof-slidecontent .button-control span {
    display: block;
    height: 100%;
    width: 100%;
}
.lof-slidecontent .action-start span {
    background: url("../images/play.png") no-repeat scroll center center transparent;
}
.lof-slidecontent .action-stop span {
    background: url("../images/pause.png") no-repeat scroll center center transparent;
}
.slider {
    height: 335px;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 900px;
}
